<!doctype html>

<head>
<script>
var someJavaScriptVar = '{{ geocode[1] }}';
</script>
</head>

<html>

<link href="/static/c3.css" rel="stylesheet">

<!-- Load d3.js and c3.js -->
<script src="/static/d3.js" charset="utf-8"></script>
<script src="/static/c3.js"></script>


<script type=text/javascript src="{{
url_for('static', filename='jquery.js') }}"></script>
<script type=text/javascript>
        $(function() {
          $('a#connect').bind('click', function() {
            $.getJSON('/connect',
                function(data) {
           });
            return false;
          });
        });
</script>

<script type=text/javascript src="{{
url_for('static', filename='jquery.js') }}"></script>
<script type=text/javascript>
        $(function() {
          $('a#capture').bind('click', function() {
            $.getJSON('/capture_spectrum',
                function(data) {
           });
            return false;
          });
        });
</script>

<body>

<div class='container'>
  <form>
            <a href=# id=capture><button class='btn btn-default'>CAPTURE</button></a>
        </form>

</div>
<div id="chart"></div>


<script>
var chart = c3.generate({
    bindto: '#chart',
    data: {
      columns: [
        ['data1', 30, 200, 100, 400, 150, 250,100,110,100,130],
        ['data2', 50, 20, 10, 40, 15, 25,30, 23,23,23]
      ]
    }
});
</script>

<p>Hello World</p>
<button onclick="alert('Geocode: {{ geocode[0] }} ' + someJavaScriptVar)" />

</body>
</html>



